<h1 class="text1">Edit Task</h1>

<div> <label class="text2">Description</label></div>

<div class="div2">
      <input class="input1" type="text" [(ngModel)]="task.description">
 </div>


 <div> <label class="text2">Status</label></div>

<select [(ngModel)]="task.status" class="btn btn-info button1">
  <option>Not Started</option>
  <option>In Progress</option>
  <option>Done</option>
  <option>Cancelled</option>
</select>

 <div>
  <button type="button" class="btn btn-primary button1" (click)="goToTaskList()">Update</button>

 </div>

